# Virtual Environment
.venv/
.venv-1/

# Python
__pycache__/
*.pyc

# Dataset
data/raw/
data/processed/

# MLflow
mlruns/
mlflow.db

# Outputs
outputs/

# VS Code
.vscode/

# Models
*.pkl
*.joblib

# OS
.DS_Store